.btn-toolbar {
    box-sizing: border-box;
    padding: 0.5rem 10px;
    background: #4f4f4f;
    overflow: hidden;
}

.editor-container {
    width: 100%;
    height: calc(100vh - 54px);
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.editor {
    width: 49.5%;
    height: 100%;
}

.input-output {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
    box-shadow: 0 10px 10px #e0e0e0;
    outline: none;
}